* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

#nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #8ac83f;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

body {
    width: 100%;
    height: 100%;
    display: grid;
    flex-direction: column;
    margin-top: 5vh;
}

#hero-section {
    height: 35vh;
    background-color: #8ac83f;
    color: white;
    /* box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5); */
}

#hero-content-container {
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 2fr;
    row-gap: 1rem;
    padding-top: 2%;
    padding-left: 12.5%;
    padding-right: 12.5%; */
}
    
#hero-title-text {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
}

#profile-picture-container {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    align-items: center;
}

#spinal-cord-image {
    width: 6vw;
}

.arrow-image {
    width: 12vw;
    filter: invert(1);
}

#cog-wheel-image {
    width: 18vw;
    filter: invert(1);
}

#brain-image {
    width: 30vw;
    filter: invert(1);
}

#introduction-text1 {
    grid-area: 3 / 1 / 4 / 2;
}

#project-section {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 2.5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 12.5%;
    padding-right: 12.5%;
}

#roadmap-project-container {
    grid-area: 1 / 1 / 2 / 3;
}

#practice-project-container {
    grid-area: 2 / 1 / 3 / 3;
    overflow: hidden;
}

#developer-container {
    grid-area: 3 / 1 / 4 / 3;
}

#graphic-designer-container {
    grid-area: 4 / 1 / 5 / 3;
}

.project-container {
    height: 8rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    row-gap: 0;
    background-color: #8ac83f;
    border-radius: 0.6rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.graphic {
    height: 5rem;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: center;
    margin-top: 6%;
}

h3 {
    grid-area: 2 / 1 / 3 / 2;
    align-self: end;
    padding-left: 3%;
    font-size: smaller;
}