* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

#nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #8ac83f;
    height: 5vh;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1vw;
    align-items: center;
    justify-content: space-between;
    padding-left: 12.5%;
    padding-right: 12.5%;
}

button {
    background-color: white;
    color:#8ac83f;
}

#newsletter-button {
    grid-area: 1 / 1 / 2 / 2;
}

#get-help-button {
    grid-area: 1 / 2 / 2 / 3;
}

#help-promote-button {
    grid-area: 1 / 3 / 2 / 4;
}

body {
    width: 100%;
    height: 100%;
    display: grid;
    margin-top: 5vh;
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 3fr; */
}


/*HERO SECTION*/
#hero-section {
    /* height: 35vh; */
    background-color: #8ac83f;
    color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

#hero-content-container {    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    /* row-gap: 1rem; */
    /* padding-top: 2%; */
    padding-left: 12.5%;
    padding-right: 12.5%;
    padding-bottom: 2vh;
    justify-items: center;
}
    
#hero-title-text {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
}

#hero-illustration-container {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-column-gap: 2vw;
    align-items: center;
}

#spinal-cord-image {
    grid-area: 1 / 1 / 2 / 2;
    width: 7vw;
}

.arrow-image {
    filter: invert(1);
    width: 10vw;
}

#arrow-image1 {
    grid-area: 1 / 2 / 2 / 3;
}

#cog-wheel-image {
    grid-area: 1 / 3 / 2 / 4;
    width: 15vw;
    filter: invert(1);
}

#arrow-image2 {
    grid-area: 1 / 4 / 2 / 5;
}

#brain-image {
    grid-area: 1 / 5 / 2 / 6;
    width: 20vw;
    filter: invert(1);
}

#hero-intro-text {
    grid-area: 3 / 1 / 4 / 2;
}


/*RESOURCE SECTION*/
#resource-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 2vh;
    padding-top: 2vh;
    padding-left: 12.5%;
    padding-right: 12.5%;
    padding-bottom: 2vh;
    color: #8ac83f;
}

/*UNDERSTANDING BCI SECTION*/
#understanding-bci-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    row-gap: 2vh;
    column-gap: 2vh;

    /* border: 1px solid red; */
}

.resource-container {
    height: 8vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 3fr 1fr; /*swapped from 3fr 1fr */
    background-color: #8ac83f;
    color: white;
    justify-items: center;
    align-items: end;
}

#understanding-bci-title-text {
    grid-area: 1 / 1 / 2 / 3;
}

#what-is-bci-container {
    grid-area: 2 / 1 / 3 / 2;
}

#success-stories-container {
    grid-area: 2 / 2 / 3 / 3;
}

#safety-container {
    grid-area: 3 / 1 / 4 / 2;
}

#is-this-legit-container {
    grid-area: 3 / 2 / 4 / 3;
}

.resource-container iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 3.1 / 1;
    /* ^^ forced temp fix for the iframe overflow issue. try wrappers + padding instead of aspect ratio */
    /* aspect-ratio: 16 / 9; */
    grid-area: 1 / 1 / 2 / 2;

    /* border: 1px solid red; */
}

.resource-container h6 {
    grid-area: 2 / 1 / 3 / 2;

    /* border: 1px solid red; */
}

/*GET INVOLVED SECTION*/
#get-involved-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    row-gap: 2vh;
    column-gap: 2vh;

    /* border: 1px solid red; */
}

#get-involved-title-text {
    grid-area: 1 / 1 / 2 / 3;
}

#trial-1-container {
    grid-area: 2 / 1 / 3 / 2;
}

#trial-2-container {
    grid-area: 2 / 2 / 3 / 3;
}

#trial-3-container {
    grid-area: 3 / 1 / 4 / 2;
}

#trial-4-container {
    grid-area: 3 / 2 / 4 / 3;
}

.resource-container img {
    background-color: white;
    /* width: 100%; */
}


/*FOOTER SECTION*/
footer {
    /* position: absolute; */
    height: 3vh;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #8ac83f;
    color: white;
    font-size: 2vw;
}

#copyright-container {
    margin-left: 12.5%;
}

#nav-footer-container {
    margin-right: 12.5%;
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-template-rows: 0; */
    column-gap: 1vw;
    /* align-items: center;
    text-align: center; */

    /* border: 1px solid red; */
}

#developer-footer-link {
    grid-area: 1 / 1 / 2 / 2;
    color: white;

    /* border: 1px solid red; */
}

#separator {
    grid-area: 1 / 2 / 2 / 3;
    color: white;

    /* border: 1px solid red; */
}

#graphic-designer-footer-link {
    grid-area: 1 / 3 / 2 / 4;
    color: white;

    /* border: 1px solid red; */
}
